In [1]:
import pandas as pd

In [3]:
!ls ../tmp/transformed

features.pickle           profile.csv               profile_with_testflag.csv

In [12]:
!ls tmp/SensorWave/images | head

0.jpg
1.jpg
10.jpg
100.jpg
1000.jpg
1001.jpg
1002.jpg
1003.jpg
1004.jpg
1005.jpg
ls: stdout: Broken pipe

In [14]:
!ls tmp/SensorWave/images | wc

    2205    2205   18735

In [4]:
df = pd.read_csv('../tmp/transformed/profile_with_testflag.csv')
df

,id,Cooler_Condition_pct,Valve_Condition_pct,Internal_Pump_Leakage,Hydraulic_Accumulato,Stable_flag,test_flg
0,0,3,100,0,130,1,0
1,1,3,100,0,130,1,1
2,2,3,100,0,130,1,0
3,3,3,100,0,130,1,1
4,4,3,100,0,130,1,0
...,...,...,...,...,...,...,...
2200,2200,100,100,0,90,0,0
2201,2201,100,100,0,90,0,0
2202,2202,100,100,0,90,0,1
2203,2203,100,100,0,90,0,0
2204,2204,100,100,0,90,0,1

In [16]:
df['images'] = [f'{i}.jpg' for i in df['id']]

In [17]:
df

,id,Cooler_Condition_pct,Valve_Condition_pct,Internal_Pump_Leakage,Hydraulic_Accumulato,Stable_flag,test_flg,images
0,0,3,100,0,130,1,0,0.jpg
1,1,3,100,0,130,1,1,1.jpg
2,2,3,100,0,130,1,0,2.jpg
3,3,3,100,0,130,1,1,3.jpg
4,4,3,100,0,130,1,0,4.jpg
...,...,...,...,...,...,...,...,...
2200,2200,100,100,0,90,0,0,2200.jpg
2201,2201,100,100,0,90,0,0,2201.jpg
2202,2202,100,100,0,90,0,1,2202.jpg
2203,2203,100,100,0,90,0,0,2203.jpg
2204,2204,100,100,0,90,0,1,2204.jpg

In [18]:
df_train = df[df['test_flg']==0]
df_test = df[df['test_flg']==1]
df_train.shape, df_test.shape

((1905, 8), (300, 8))

In [19]:
df_train = df_train[['images','Stable_flag']]
df_test = df_test[['images','Stable_flag']]
df_train.shape, df_test.shape

((1905, 2), (300, 2))

In [20]:
df_train.to_csv('tmp/SensorWave/train.csv', index=False)
df_test.to_csv('tmp/SensorWave/test.csv', index=False)