In [1]:
import pandas as pd

In [3]:
!ls tmp

tsfresh_minimal_features.csv

In [4]:
df_features = pd.read_csv('tmp/tsfresh_minimal_features.csv')
print(df_features.shape)
df_features.head()

(2205, 136)

,PS1__sum_values,PS1__median,PS1__mean,PS1__length,PS1__standard_deviation,PS1__variance,PS1__maximum,PS1__minimum,PS2__sum_values,PS2__median,...,CP__maximum,CP__minimum,SE__sum_values,SE__median,SE__mean,SE__length,SE__standard_deviation,SE__variance,SE__maximum,SE__minimum
0,964040.95,156.25,160.673492,6000.0,13.938147,194.271939,191.51,145.83,656801.481,129.365,...,2.188,1.383,3549.431,68.5145,59.157183,60.0,23.565119,555.314822,79.568,0.0
1,963619.92,156.06,160.603320,6000.0,14.117791,199.312019,191.47,145.73,656129.342,129.385,...,1.414,1.147,3560.137,68.5360,59.335617,60.0,23.658267,559.713586,80.441,0.0
2,962086.32,155.72,160.347720,6000.0,14.191436,201.396849,191.41,145.37,654953.068,129.325,...,1.159,1.076,3572.589,68.8530,59.543150,60.0,23.723181,562.789333,80.824,0.0
3,961128.53,155.56,160.188088,6000.0,14.226617,202.396639,191.34,145.14,654388.843,128.865,...,1.107,1.022,3587.694,69.0060,59.794900,60.0,23.821972,567.486336,80.930,0.0
4,960002.83,155.34,160.000472,6000.0,14.275244,203.782600,191.41,144.95,653588.606,129.000,...,1.106,1.016,3567.316,69.0130,59.455267,60.0,23.771653,565.091508,81.100,0.0

In [6]:
!ls ../tmp/transformed

features.pickle           profile.csv               profile_with_testflag.csv

In [7]:
df_y = pd.read_csv('../tmp/transformed/profile_with_testflag.csv')
print(df_y.shape)
df_y.head()

(2205, 7)

,id,Cooler_Condition_pct,Valve_Condition_pct,Internal_Pump_Leakage,Hydraulic_Accumulato,Stable_flag,test_flg
0,0,3,100,0,130,1,0
1,1,3,100,0,130,1,1
2,2,3,100,0,130,1,0
3,3,3,100,0,130,1,1
4,4,3,100,0,130,1,0

In [10]:
df = pd.concat([df_y, df_features], axis=1)
df.shape

(2205, 143)

In [11]:
df

,id,Cooler_Condition_pct,Valve_Condition_pct,Internal_Pump_Leakage,Hydraulic_Accumulato,Stable_flag,test_flg,PS1__sum_values,PS1__median,PS1__mean,...,CP__maximum,CP__minimum,SE__sum_values,SE__median,SE__mean,SE__length,SE__standard_deviation,SE__variance,SE__maximum,SE__minimum
0,0,3,100,0,130,1,0,964040.95,156.25,160.673492,...,2.188,1.383,3549.431,68.5145,59.157183,60.0,23.565119,555.314822,79.568,0.0
1,1,3,100,0,130,1,1,963619.92,156.06,160.603320,...,1.414,1.147,3560.137,68.5360,59.335617,60.0,23.658267,559.713586,80.441,0.0
2,2,3,100,0,130,1,0,962086.32,155.72,160.347720,...,1.159,1.076,3572.589,68.8530,59.543150,60.0,23.723181,562.789333,80.824,0.0
3,3,3,100,0,130,1,1,961128.53,155.56,160.188088,...,1.107,1.022,3587.694,69.0060,59.794900,60.0,23.821972,567.486336,80.930,0.0
4,4,3,100,0,130,1,0,960002.83,155.34,160.000472,...,1.106,1.016,3567.316,69.0130,59.455267,60.0,23.771653,565.091508,81.100,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,2200,100,100,0,90,0,0,967365.43,156.59,161.227572,...,2.196,2.127,3541.986,68.4505,59.033100,60.0,23.437563,549.319375,77.752,0.0
2201,2201,100,100,0,90,0,0,967236.42,156.55,161.206070,...,2.200,2.094,3544.080,68.4075,59.068000,60.0,23.440581,549.460855,77.592,0.0
2202,2202,100,100,0,90,0,1,967152.72,156.56,161.192120,...,2.188,2.099,3547.941,68.3130,59.132350,60.0,23.435632,549.228852,77.773,0.0
2203,2203,100,100,0,90,0,0,967253.50,156.58,161.208917,...,2.188,2.107,3538.248,68.3500,58.970800,60.0,23.403317,547.715231,77.568,0.0
2204,2204,100,100,0,90,0,1,967302.77,156.60,161.217128,...,2.194,2.126,3543.234,68.3705,59.053900,60.0,23.429505,548.941726,77.748,0.0

In [14]:
pd.crosstab(df['test_flg'], df['Stable_flag'])

Stable_flag     0    1
test_flg
0            1252  653
1             197  103

In [16]:
pd.crosstab(df['test_flg'], df['Stable_flag'], normalize='index')

Stable_flag         0         1
test_flg
0            0.657218  0.342782
1            0.656667  0.343333

In [17]:
df_train = df[df['test_flg']==0]
df_test = df[df['test_flg']==1]
df_train.shape, df_test.shape

((1905, 143), (300, 143))

In [18]:
df_train.to_csv('tmp/SenCls_minimal_features_Train.csv', index=False)
df_test.to_csv('tmp/SenCls_minimal_features_Test.csv', index=False)